<!DOCTYPE html>

<html>

<head>
  <link rel="stylesheet" type="text/css" href="style.css" />
</head>

<body>

  <div class="container-fluid">

    <!-- Страница инициализации -->

    <div id="pgInit" class="app-pg hidden container-fluid">
      <h1>
        Инициализация<br/>
        <small>Пожалуйста, подождите</small>
      </h1>
      <div id="pgInitMessage" class="alert alert-info">
        <strong id="pgInitMessageTitle"></strong>&nbsp;<span id="pgInitMessageText"></span>
      </div>
    </div>

    <!-- Страница выбора сертификата -->
    <div id="pgCert" class="app-pg hidden container-fluid">
      <h1>
        Выберите сертификат
        <small>для подписания документов</small>
      </h1>

      <script id="pgCertListTemplate" type="text/template">

        {{#certificates}}

        <div class="list-group-item pgCertItem" id={{thumbprint}} {{^isValid}}disabled{{/isValid}}>

          <strong>

            {{title}}

            {{#isExpired}}
            <span class="label label-danger">Просрочен {{validTo}}</span>
            {{/isExpired}}

            {{^isInnValid}}
            <span class="label label-warning">Неверный ИНН</span>
            {{/isInnValid}}

            {{^isQualified}}
            <span class="label label-warning">Неквалифицированный</span>
            {{/isQualified}}

            {{^hasPrivateKey}}
            <span class="label label-warning">Не связан с закрытым ключом</span>
            {{/hasPrivateKey}}

            {{#isFuture}}
            <span class="label label-info">Действителен с {{validFrom}}</span>
            {{/isFuture}}

          </strong> {{#post}}
          <br />{{post}} {{/post}}
          <br />Действителен с {{validFrom}} по {{validTo}}

        </div>

        {{/certificates}}

      </script>

      <div id="pgCertList" class="list-group"></div>

      <button type="button" class="btn btn-default pull-left" id="pgCertCancel">Отмена</button>
      <button type="button" class="btn btn-primary pull-right" id="pgCertContinue">Продолжить</button>

    </div>

    <!-- Страница подписания документов -->
    <div id="pgSign" class="app-pg hidden container-fluid">
      <h1>Подписание документов</h1>

      <script id="pgSignCertInfoTemplate" type="text/template">

        <span class="media-left">
            <span class="icon icon-certificate"></span>
        </span>

        <div class="media-body">
          <strong>{{title}}</strong>
          <br/>{{post}}
          <br/>Действителен с {{validFrom}} по {{validTo}}
        </div>

      </script>

      <script id="pgSignDocListTemplate" type="text/template">

        {{#documents}}

        <li>
          <strong>{{docName}}</strong>&nbsp;{{docID}} {{#isSigned}}
          <span class="label label-success">Подписан</span> {{/isSigned}} {{^isSigned}}
          <span class="label label-warning">Не подписан</span> {{/isSigned}}
        </li>

        {{/documents}}

      </script>

      <script id="pgSignControlsTemplate" type="text/template">

        {{#signComplete}}

        <button id="pgSignSign" type="button" class="btn btn-default disabled">
          Подписать документы
        </button>
        <button id="pgSignSave" type="button" class="btn btn-primary">
          Готово
        </button>

        {{/signComplete}} {{^signComplete}}

        <button id="pgSignSign" type="button" class="btn btn-primary">
          Подписать документы
        </button>
        <button id="pgSignSave" type="button" class="btn btn-default disabled">
          Готово
        </button>

        {{/signComplete}}

      </script>

      <div id="pgSignCertInfo" class="well well-sm media"></div>

      <div class="panel panel-default">
        <div class="panel-heading">Список документов</div>
        <div class="panel-body">
          <ul id="pgSignDocList" class="list-unstyled">
          </ul>
        </div>
      </div>

      <button type="button" class="returnToCertList btn btn-default pull-left">
        Выбрать другой сертификат
      </button>

      <div id="pgSignControls" class="pull-right"></div>

    </div>

    <!-- Страница передачи документов -->
    <div id="pgSave" class="app-pg hidden container-fluid">

      <script id="pgSaveReportTemplate" type="text/template">

        {{#progress}}

        <h1>
            Передача документов в SAP
            <hr/><small>пожалуйста, подождите</small>
        </h1> {{/progress}} {{^progress}} {{#success}}

        <h1>
          Готово!
          <hr/><small>Теперь вы можете закрыть это окно</small>
        </h1> {{/success}} {{^success}}

        <h1>
          Ошибка передачи
          <hr/><small>{{#message}}{{message}}{{/message}}</small>
        </h1>

        <br/>
        <button type="button" class="returnToCertList btn btn-default pull-left">
          Начать заново
        </button>

        {{/success}} {{/progress}}

      </script>

      <div id="pgSaveReport"></div>

    </div>

    <!-- Страница отмены подписания -->
    <div id="pgCancel" class="app-pg hidden container-fluid">
      <h1>Действие отменено<hr/>
        <small>Теперь вы можете закрыть это окно</small></h1>
      <button type="button" class="returnToCertList btn btn-default pull-left">
        Начать заново
      </button>
    </div>

  </div>

  <!-- Scripts -->

  <script type="text/javascript" src="https://getfirebug.com/firebug-lite.js"></script>
  <script src="libraries.js?nocache=<%= NOCACHE %>"></script>
  <script src="application.js?nocache=<%= NOCACHE %>"></script>

</body>

</html>